/********************/
/* GLOBAL OVERRIDES */
/********************/

h1 {
  color: #474c48;
  font-family: Playfair Display,Georgia,serif;
  font-size: 30px;
  font-weight: 300;
  
  margin: 0;
  padding: 0;
}

h2 {
  color: #474c48;
  font-family: Playfair Display,Georgia,serif;
  font-size: 18px;
  font-weight: 300;
  
  margin: 0;
  padding: 0;
}

body {
  border-top: 4px solid #f5efed;
  margin: 0;
  padding: 0;
}

p, textarea {
  color: #474c48;
  font-family: Maitree,Georgia,serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;  
}

/*******************/
/* CLASS OVERRIDES */
/*******************/

.header {
  align-items: center;
  border-bottom: 2px #bb9d56 solid;
  height: 59px;
  padding-left: 1.5%;
  padding-right: 1.5%;
  width: 97%;
}

.pretzel {
  height: 20px;
  padding: 18px 20px 0 0;
  width: 20px;

}

.header_text {
  color: rgb(71, 76, 72);
  font-family: Maitree, Georgia, serif;
  font-size: 16px;
  font-weight: 700;
}

.venue_container {
  background-color: #f4f4f3;
  padding-top: 20px;
}

.unassigned_photo_container {  
  margin-left: 1.5%;
  width: 400px;
}

.photo_list {
  min-height: 180px;
}

.photo_list, .scrollable_photo_list {
  background-color: #fff;
  padding-top: 20px;
  padding-left: 20px;
}

.scrollable_photo_list {
  display: flex;
  height: 180px;
  overflow-x: auto;
  overflow-y: hidden;
  width: 780px;
}

.single_photo_container {
  animation-name: appear;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  margin-right: 5px;
  width: 176px;
  height: 160px;
}

.photo_image {
  display: block;
  margin: auto;
  height: 100px;
  width: auto;
}

.photo_caption {
  height: 54px;
  overflow-x: hidden; /* There are some instances where the text is the EXACT size as the textara, triggering an ugly scrollbar.  This fixes it. */
  text-align: center;
  width: 170px;  
}

.center_gap {  
  height: 800px;
  width: 50px;
}

.scrollable_photo_container {
  margin-bottom: 60px;  
  overflow: auto;
  position: relative;
}

.leftrightbuttoncontainer {
  height: 0;
  position: absolute;
  width: 0;

}

.deletebuttoncontainer {
  cursor: pointer;
  height: 0;
  position: absolute;
  width: 0;    
}

.deleteButton {
  animation-name: appear;
  animation-duration: 0.25s;

  background-color: #DDC5CC;
  cursor: pointer;
  position: relative;
}

.deleteButton:hover { 
  background-color: #a36275;
}

.moveButtonLeft, .moveButtonRight, .moveButtonOnlyLeft, .moveButtonOnlyRight {  
  animation-name: appear;
  animation-duration: 0.25s;

  background-color: #CDC2BE;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.moveButtonLeft:hover, .moveButtonRight:hover, .moveButtonOnlyLeft:hover, .moveButtonOnlyRight:hover {
  background-color: #917970;
}

.moveButtonLeft {    
  top: 36px;
}

.moveButtonOnlyLeft {
  top: 36px;
}

.moveButtonRight {  
  left: 151px;
  top: 8px;
}

.moveButtonOnlyRight {
  left: 151px;
  top: 36px;

}

.savebutton {
  left: 126px;  
  position: relative;
  top: -84px;
}

.toolbar {  
  background-color: #fff;
  height: 400px;
  position: fixed;
  right: 0;
  width: 200px;
}

.toolbarButtonContainer {
  margin-top: 20px;
  position: relative;
  text-align: center;
}

.movePhotosButton {
  animation-name: primary_to_secondary;
  animation-duration: 0.75s;
  background-color: #fff;
  border: 1px #bea052 solid;
  color: #bea052;
  cursor: pointer;
  font-family: Maitree, Georgia, serif;
  font-size: 14px;
  font-weight: 600;
  margin: 10px auto 0px auto;
  padding: 14px 0;
  width: 150px;
}

.movePhotosButton:hover {
  animation-name: secondary_to_primary;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
}

.slide_to_left {
  animation-name: slide_left;
  animation-duration: 1s;
}
.slide_to_right {
  animation-name: slide_right;
  animation-duration: 1s;
}

/********************/
/* HELPER FUNCTIONS */
/********************/

.background_color_gold { background-color: #bea052; }

.center_text { text-align: center; }

.fancy_border_top { border-top: 1px dotted #c6c9c7; margin-top: 1px; }
.fancy_border_bottom { border-bottom: 1px dotted #c6c9c7; }

.fl { float:left; }
.fr { float:right; }

.full_width { width: 100%; }

.right_panel_width { width: 800px; }

.hidden { display: none; }

.relative { position: relative; }

/**************/
/* ANIMATIONS */
/**************/

@keyframes appear {
  from { opacity: 0; }
  to {   opacity: 1; }
}

@keyframes disappear {
  from { opacity: 1; }
  to {   opacity: 0; }
}

@keyframes slide_left {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


@keyframes slide_right {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes primary_to_secondary {
  from {
    background-color: #bea052;
    border: 1px #fff solid;
    color: #fff;
  }

  to {
    background-color: #fff;
    border: 1px #bea052 solid;
    color: #bea052;
  }
}

@keyframes secondary_to_primary {
  from {
    background-color: #fff;
    border: 1px #bea052 solid;
    color: #bea052;
  }

  to {
    background-color: #bea052;
    border: 1px #fff solid;
    color: #fff;
  }
}  